{% extends 'base.html' %}

{# {% block head %}
{{ super() }}
<link rel="stylesheet" href="qq.css">
{% endblock %} #}

{% block content %}
<div class="container">
    <h1>Лабораторная работа №1</h1>
    <h2>Задание:</h2>
    <ol>
        <li>
            <p>Доработайте прилагаемое к заданию веб-приложение (lab1_template.zip), добавив в него шаблон post.html,
                отображающий содержимое поста.</p>
            <p>На странице должны присутствовать следующие элементы:</p>
            <ul>
                <li>заголовок поста;</li>
                <li>имя автора;</li>
                <li>дата публикации;</li>
                <li>изображение;</li>
                <li>текст поста;</li>
                <li>форма "Оставьте комментарий" с полем для ввода текста и кнопкой "Отправить";</li>
                <li>комментарии и ответы на них.</li>
            </ul>

            <p>Все данные должны подставляться в шаблон из приложения.</p>
            <p><a
                    href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-media-objects.php">Пример</a>
                того,
                как можно сделать отображение комментариев.</p>
            <p>Пример оформления страницы приложен к заданию (post-example-page.png).</p>
        </li>
        <li>
            <p>Добавьте в базовый шаблон подвал (англ. footer) сайта. Укажите там ФИО и номер группы.</p>
        </li>
        <li>
            <p>Для сдачи лабораторной работы №1 необходимо следующее:</p>
            <ul>
                <li>опубликовать код в репозитории;</li>
                <li>выложить веб-приложение на <a href="https://fit.mospolytech.ru/systems/servers">хостинг</a>;</li>
                <li>в системе LMS опубликовать ссылку на репозиторий с исходным кодом, а также ссылку на приложение на хостинге;</li>
                <li>защитить лабораторную работу в очном формате.</li>
            </ul>
            <p>
                <strong>Важно!</strong> Если репозиторий <em>закрытый</em>, - не забудьте предоставить преподавателю доступ.
            </p>
        </li>
    </ol>
</div>
{% endblock %}