{% extends 'base.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/change_password_page_style.css') }}">
{% endblock %}

{% block main %}
<main class="my-3 flex-grow-1 d-flex flex-column justify-content-center">
    <div class="container">
        <form class="form-login" method="POST">
            <div class="form-floating mb-3">
                <input type="password" name="oldPassword"
                    class="form-control {% if error_list.current_password %}is-invalid{% endif %}" id="oldPassword"
                    placeholder="oldPassword" value="{{request.form.oldPassword}}">
                {% if error_list.current_password %}
                <div class="invalid-feedback">
                    <ul class="mb-0">
                        {% for error in error_list.current_password %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <label for="oldPassword">Введите старый пароль</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="newPassword"
                    class="form-control {% if error_list.new_password %}is-invalid{% endif %}" id="newPassword"
                    placeholder="newPassword" value="{{request.form.newPassword}}">
                {% if error_list.new_password %}
                <div class="invalid-feedback">
                    <ul class="mb-0">
                        {% for error in error_list.new_password %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <label for="newPassword">Введите новый пароль</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="newPassword2"
                    class="form-control {% if error_list.new_password2 %}is-invalid{% endif %}" id="newPassword2"
                    placeholder="newPassword2"  value="{{request.form.newPassword2}}">
                {% if error_list.new_password2 %}
                <div class="invalid-feedback">
                    <ul class="mb-0">
                        {% for error in error_list.new_password2 %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <label for="newPassword2">Подтвердите новый пароль</label>
            </div>
            <button class="btn btn-primary">Изменить пароль</button>
        </form>
    </div>
</main>

{% endblock %}